.scrollup {
	position: fixed;
	right: 1rem;
	background-color: $first-color;
	padding: 0.5rem;
	display: flex;
	opacity: 0.9;
	z-index: $z-tooltip;
	transition: 0.4s;

	&:hover {
		background-color: $first-color-alt;
		opacity: 1;
	}

	&__icon {
		filter: brightness(0) invert(1);
		transform: rotate(180deg);
	}
}
